<!DOCTYPE html>
<html>
<head>
    <title>淘拍档</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey={{AppKey}}"></script>
</head>
<body>
   <a href="{{app_loginurl}}">他用型APPKey授权登录</a>
</body>
</html>
